<div class='navbar-shared'>
  <span class='navbar-logo'>chortle</span>
  <span class='navbar-links'>
    <ul class="navbar-links-list">
      <li><%= link_to "Home",   'home_path(no quotes)' %></li>
      <li><%= link_to "log in/out", 'login/out_path(no quotes conditional)' %></li>
    </ul>
  </span>
</div>