<div class='navbar-shared'>
  <span class='navbar-logo'>chortle</span>
  <span class='navbar-links'>
    <ul class="navbar-links-list">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "log out", logout_path %></li>
    </ul>
  </span>
</div>